/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {

    .main-menu ul{
        display: none;
    }
    .test-item.mk-item {
        width: 203%;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {




}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 576px) {
    h1 {
        font-size: 61px;
        line-height: 69px;
    }

    h2{
        font-size: 28px;
        line-height: 38px;
    }

    .about-right {
        padding: 0 27px;
    }

    .about-right .section-title{
        text-align: center;
    }

    .about-btn {
        text-align: center;
    }


}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 400px) {
    h1 {
        font-size: 42px;
        line-height: 49px;
    }
    h6{
        font-size: 12px;
    }
    a.mk-btn {
        margin-left: 0;
    }

    .award {
        margin-bottom: 21px;
    }

    .map {
        margin-bottom: 20px;
    }
    
}
